.create-post textarea{
    resize: none;
    height: 30px;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.create-post textarea::placeholder{
    font-size: 16px;
    padding: 5px;
    color: rgb(0, 0, 0);
}
.create-post{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(230, 230, 230);
    padding: 10px;
}
.create-post button{
    background-color: rgb(87, 130, 211);
    color: white;
    font-size: 20px;
    width: 10%;
    padding: 5px 0;
    margin-left: 90%;
    margin-top: 10px;
}
.create-post-errorMsg-show, .create-post-msg-show, .create-post-errorMsg-hide, .create-post-msg-hide{
    position: absolute;
    top: -100%;
    padding: 20px;
    color: white;
    background-color: red;
    left: 30%;
    z-index: 999;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}
.create-post-msg-show{
    background-color: green;
}
.create-post-msg-show,.create-post-errorMsg-show{
    top: 20%;
    transition:  all .5s ease-in-out;
}