.new-post{
    background-color: rgba(137, 43, 226, 0.281);
    padding: 20px;
    display: flex;
    align-items: center;
}
.new-post img{
    width: 50px;
    border-radius: 15px;
    margin-right: 15px;
    margin-left: 5px;
}
.new-post input{
    width: 38vw;
    height: 40px;
    border-radius: 15px;
    border: 1px solid rgb(134, 103, 182);
    font-size: 25px;
    padding-left: 30px;
    color: rgb(77, 51, 117);
}

@media  screen and (max-width: 1000px) {
    .new-post input{
        font-size: 20px;
        width: 30vw;
        padding-left: 20px;
    }
    .new-post img{
        margin-left: 15px;
    }
}
@media  screen and (max-width: 700px) {
    .new-post{
        padding: 10px;
        margin-top: 10px;
    }
    .new-post input{
        font-size: 20px;
        padding-left: 20px;
        width: 70vw;
    }
    .new-post img{
        margin-left: 0px;
    }
}

@media  screen and (max-width: 500px) {
    .new-post{
        margin: 0;
        margin-top: 10px;
    }
    .new-post input{
        width: 60vw;
        font-size: 15px;
    }
}
