.new-post{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 95%;
    background-color: white;
    padding-bottom: 30px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.527);
}
.new-post img{
    width: 50px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 3px;
    border: 1px solid rgba(0, 0, 0, 0.082);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.post-new-content{
    width: 99%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(134, 103, 182);
    font-size: 20px;
    padding-left: 20px;
    color: rgb(77, 51, 117);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input::file-selector-button {
    background-color: dodgerblue;
    color: white;
    border: 1px solid blue;
    padding: 5px 10px;
}
.post-new-img{
    position: absolute;
    left: 0px;
    padding: 0;
    margin: 0;
    font-size: 15px;
    max-width: 250px;
}
.new-post p{
    font-size: 25px;
    font-weight: bolder;
}
.new-post button{
    height: 32px;
    width: 40px;
    margin-left: -45px;
    border-radius: 15px;
    border: none;
    background-color: rgb(56, 137, 184);
    color: white;
}
.new-post button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.new-post-info{
    display: flex;
    align-items: center;
    width: 88%;
    position: relative;
}
.post-new-img{
    position: absolute;
    bottom: -30px;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: 15px;
}
@media  screen and (max-width: 1000px) {
    .post-new-img{
        position: absolute;
        left: 0px;
        padding: 0;
        margin: 0;
        font-size: 15px;
        max-width: 250px;
    }
    .new-post img{
        margin-left: 15px;
    }
}
@media  screen and (max-width: 700px) {
    .new-post{
        margin-top: 10px;
        width: 90%;
    }
    .post-new-content{
        font-size: 20px;
        padding-left: 20px;
        width: 70vw;
    }
    .new-post img{
        margin-left: 0px;
    }
}

@media  screen and (max-width: 500px) {
    .new-post{
        margin: 0;
        margin-top: 10px;
    }
    .post-new-content{
        width: 60vw;
        font-size: 15px;
    }
    .post-new-img{
        position: absolute;
        left: 0px;
        padding: 0;
        margin: 0;
        font-size: 15px;
        max-width: 200px;
    }
}
