.login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(128, 128, 128);
}
.login input{
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.76);
    border: 1px solid rgb(119, 119, 119);
    margin-right: 5px;
    border-radius: 5px;
    font-weight: bold;
}
.login input::placeholder{
    color: rgb(0, 0, 0);
    font-weight: 100;
}
.login h1{
    color: white;
}
.login-btn{
    padding: 8px 15px;
    background-color: rgb(231, 231, 231);
    border: 1px solid grey;
    font-weight: bolder;
}
.register{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}
.register h3{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: 100;
}
.register h1{
    display: none;
}
.register-form{
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
    margin-top: 100px;
}
.register-form input{
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.747);
    border: 1px solid grey;
    margin: 5px;
    font-weight: bold;
}
.register-form input::placeholder{
    color: black;
    font-weight: 100;
}
.register-form p{
    margin-left: 15px;
    font-weight: bolder;
    color: white;
}
.showErrorMessage, .hideErrorMessage, .showSuccessMessage, .hideSuccessMessage {
    position: absolute;
    top: -200%;
    background-color: rgb(223, 83, 83);
    color: white;
    padding: 10px;
    border: 1px solid rgb(175, 0, 0);
    font-size: 23px;
    min-width: 20%;
    left: 40%;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    z-index: 999;
}
.showSuccessMessage,.hideSuccessMessage{
    background-color: rgb(53, 145, 53);
}
.showErrorMessage,.showSuccessMessage{
    top: 30%;
    transition:  all .5s ease-in-out;
}
.showSuccessMessage{
    border: 1px solid green;
}
.register-btn{
    width: 100px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: yellow;
    border-radius: 5px;
    border: 1px solid grey;
    font-weight: bolder;
}
#confirm-password{
    margin-bottom: 50px;
}
@media  screen and (max-width: 1100px) {
    .login{
        justify-content: space-around;
        padding: 0;
    }
    .register{
        padding: 0;
        margin-left: 40px;
        justify-content: space-around;
    }
}
@media  screen and (max-width: 800px) {
    .register h3{
        font-size: 35px;
    }
    .showErrorMessage, .hideErrorMessage, .showSuccessMessage, .hideSuccessMessage {
        left: 20%;
    }
    .showErrorMessage,.showSuccessMessage{
        top: 10%;
        font-size: 23px;
        max-width: 60vw;
    }
}
@media  screen and (max-width: 600px) {
    .register-text h3{
        font-size: 25px;
    }
    .register{
        margin-left: 0;
    }
    .register-form{
        width: 50%;
    }
    .login input{
        width: 100px;
    }
}
@media  screen and (max-width: 500px) {
    .register{
        padding: 0;
        margin-left: 40px;
        flex-direction: column;
    }
    .register-form{
        width: 80%;
        margin-top: 40px;
    }
    .login{
        font-size: 10px;
        padding: 10px 0;
    }
    .login input{
        font-size: 12px;
        height: 10px;
    }
    .login-btn{
        font-size: 13px;
    }
}
@media  screen and (max-width: 400px) {
    .login input{
        font-size: 10px;
        width: 80px;
    }
    .login-btn{
        font-size: 10px;
        padding: 8px;
    }
    .login h1{
        display: none;
    }
    .register h1{
        display: block;
        color: white;
        text-align: center;
    }
    .register{
        margin-left: 0;
    }
}