.login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(128, 128, 128);
}
.login input{
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.76);
    border: 1px solid rgb(119, 119, 119);
    margin-right: 5px;
    border-radius: 5px;
}
.login input::placeholder{
    color: grey;
}
.login h1{
    color: white;
}
.login-btn{
    padding: 8px 15px;
    background-color: rgb(231, 231, 231);
    border: 1px solid grey;
    font-weight: bolder;
}
.register{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}
.register h3{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: 100;
}
.register-form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 100px;
}
.register-form input{
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.747);
    border: 1px solid grey;
    margin: 5px;
}
.register-form p{
    margin-left: 15px;
    font-weight: bolder;
    color: white;
}
.showErrorMessage, .hideErrorMessage, .showSuccessMessage, .hideSuccessMessage {
    position: absolute;
    top: -200%;
    background-color: rgb(223, 83, 83);
    color: white;
    padding: 10px;
    border: 1px solid rgb(175, 0, 0);
    font-size: 23px;
    min-width: 20%;
    left: 40%;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}
.showSuccessMessage,.hideSuccessMessage{
    background-color: rgb(53, 145, 53);
}
.showErrorMessage,.showSuccessMessage{
    top: 30%;
    transition:  all .5s ease-in-out;
}
.showSuccessMessage{
    border: 1px solid green;
}
.register-btn{
    width: 100px;
    height: 40px;
    position: relative;
    margin-left: 78%;
    margin-top: 5px;
    background-color: yellow;
    border-radius: 5px;
    border: 1px solid grey;
    font-weight: bolder;
}